# Build Artifacts
target
**/*.rs.bk
node_modules
dist
pkg
wasm-pack.log
coverage

# Test Files
scripts/*_exe.sh
/local-dev/test-corpora/federalist/*.txt
/local-dev/test-corpora/3b1b/*.srt
/local-dev/test-indexes/*.st
/local-dev/dist
yarn-error.log

# Development Files
.DS_Store
.vscode
# Vim Swap
[._]*.s[a-v][a-z]
!*.svg  # comment out if you don't need vector files
[._]*.sw[a-p]
[._]s[a-rt-v][a-z]
[._]ss[a-gi-z]
[._]sw[a-p]

