[submodule "local-dev/test-corpora/federalist"]
	path = local-dev/test-corpora/federalist
	url = https://github.com/stork-search/federalist
[submodule "local-dev/test-corpora/3b1b"]
	path = local-dev/test-corpora/3b1b
	url = https://github.com/stork-search/3b1b
