[submodule "dev/documents/federalist"]
	path = dev/documents/federalist
	url = https://github.com/stork-search/federalist
[submodule "dev/documents/3b1b"]
	path = dev/documents/3b1b
	url = https://github.com/stork-search/3b1b
