[package]
name = "stork"
version = "0.6.0"
authors = ["James Little <littleguy23@gmail.com>"]
edition = "2018"
description = "Impossibly fast web search."
repository = "https://github.com/jameslittle230/stork"
license = "Apache-2.0"

[lib]
crate-type = ["cdylib", "rlib"]

[dependencies]
toml = "0.5"
serde = { version = "1.0", features = ["derive"] }
bincode = "1.2.1"
serde_json = "1.0"
console_error_panic_hook = "0.1.6"
num-format = "0.4.0"
rust-stemmers = "1.2.0"

[dependencies.wasm-bindgen]
version = "^0.2"
features = ["serde-serialize"]
