.stork-wrapper,
.stork-wrapper-basic {
  position: relative;
  font-family: sans-serif;
  box-sizing: border-box;
}

.stork-wrapper *,
.stork-wrapper *:before,
.stork-wrapper *:after,
.stork-wrapper-basic *,
.stork-wrapper-basic *:before,
.stork-wrapper-basic *:after {
  box-sizing: border-box;
}

.stork-input,
.stork-wrapper-basic .stork-input {
  width: 100%;
  height: 2.4em;
  font-size: 1em;
  padding: 0.4em 2em 0.4em 0.8em;
  border: 1px solid hsla(0, 0%, 0%, 0.2);
  border-radius: 4px;
  position: relative;
  color: black;
}

.stork-progress,
.stork-wrapper-basic .stork-progress {
  position: absolute;
  display: block;
  content: "";
  bottom: 0;
  left: 0;
  background-color: hsla(210, 67%, 58%, 1);
  box-shadow: 0 0 8px hsla(210, 67%, 78%, 0.8);
  height: 2px;
  transition: width 0.15s ease, opacity 0.2s ease 0.3s;
}

.stork-output,
.stork-wrapper-basic .stork-output {
  position: absolute;
  width: 100%;
  margin-top: 0.5em;
  border-radius: 4px;
  box-shadow: 0 0.9px 2.2px hsla(0, 0%, 0%, 0.02),
    0 2.1px 5.3px hsla(0, 0%, 0%, 0.028), 0 3.9px 10px hsla(0, 0%, 0%, 0.035),
    0 6.9px 17.9px hsla(0, 0%, 0%, 0.042), 0 13px 33.4px hsla(0, 0%, 0%, 0.05),
    0 31px 80px hsla(0, 0%, 0%, 0.07);
  display: flex;
  flex-direction: column;
  z-index: 100;
  color: black;
  font-weight: 400;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.stork-attribution a:link,
.stork-wrapper-basic .stork-attribution a:link {
  color: hsl(192, 82%, 44%);
}

.stork-output-visible,
.stork-wrapper-basic .stork-output-visible {
  background: hsl(0, 0%, 100%);
  border: 1px solid hsla(0, 0%, 0%, 0.1);
}

.stork-message,
.stork-wrapper-basic .stork-message {
  width: 100%;
  padding: 0.5em 1em;
  color: hsla(0, 0%, 0%, 0.8);
}

.stork-attribution,
.stork-wrapper-basic .stork-attribution {
  width: 100%;
  padding: 0.5em 1em;
  font-size: 0.8em;
  color: hsla(0, 0%, 0%, 0.8);
}

.stork-results,
.stork-wrapper-basic .stork-results {
  margin: 0;
  padding: 0;
  width: 100%;
  list-style-type: none;
  max-height: 25em;
  overflow-y: scroll;
  border-top: 1px solid hsla(0, 0%, 80%, 1);
  border-bottom: 1px solid hsla(0, 0%, 80%, 1);
}

.stork-result,
.stork-wrapper-basic .stork-result {
  font-size: 0.8em;
  border-bottom: 1px solid hsla(0, 0%, 90%, 1);
}

.stork-result.selected,
.stork-wrapper-basic .stork-result.stork-result.selected {
  background: hsl(192, 82%, 78%);
}

.stork-result a:link,
.stork-result a:visited {
  padding: 1em;
  display: block;
  color: currentcolor;
  text-decoration: none;
}

.stork-result p {
  margin: 0;
}

.stork-result .stork-title {
  font-weight: bold;
  font-size: 1.1em;
  margin-bottom: 0.8em;
}

.stork-result .stork-excerpt {
  margin-bottom: 0.8em;
  line-height: 1;
}

.stork-highlight,
.stork-wrapper-basic .stork-highlight {
  background-color: hsl(59, 98%, 58%);
}

.stork-error,
.stork-wrapper-basic .stork-error {
  outline: 2px solid hsl(0, 89%, 46%);
}

.stork-close-button,
.stork-wrapper-basic .stork-close-button {
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 0.3em 0.4em;
  height: 1.5em;
  width: 1.5em;
  padding: 0px;
  font-size: 1.1em;
  background: hsla(0, 0%, 0%, 0.2);
  color: black;
  border: none;
  border-radius: 15%;
  line-height: 1;
}

.stork-close-button:hover,
.stork-wrapper-basic .stork-close-button:hover {
  background: hsla(0, 0%, 0%, 0.3);
  cursor: pointer;
}

.stork-close-button:active,
.stork-wrapper-basic .stork-close-button:active {
  background: hsla(0, 0%, 0%, 0.4);
}
