:root {
  --stork-border-color: hsl(0, 0%, 65%);
  --stork-background-color: hsla(0, 0%, 97%, 1);
  --stork-font-family: inherit;
  --stork-size-multiplier: 1;
  --stork-accent-color: #339af0;

  --stork-input-width: 100%;
  --stork-input-border-radius: 8px;
  --stork-input-text-color: black;
  --stork-input-shadow: 1;

  --stork-results-width: 100%;
  --stork-results-border-radius: 4px;
  --stork-results-shadow: 1;
  --stork-results-hover-color: #a5d8ff;
  --stork-results-title-color: #343a40;
  --stork-results-excerpt-color: #212529;
  --stork-results-highlight-color: #ffec99;
  --stork-results-border-color: var(--stork-border-color);
}

.stork-wrapper {
  position: relative;
  font-family: var(--stork-font-family);
  box-sizing: border-box;
  font-size: 1em * var(--stork-size-multiplier);
}

.stork-wrapper *,
.stork-wrapper *:before,
.stork-wrapper *:after {
  box-sizing: border-box;
}

.stork-input {
  width: var(--stork-input-width);
  height: 2.4em;
  font-size: 1em;
  padding: 0.4em 0.8em;
  position: relative;
  box-shadow: inset 0 0.1em 0.3em
    hsla(0, 0%, 0%, calc(var(--stork-input-shadow) * 0.1));
  border: 1px solid var(--stork-border-color);
  border-radius: var(--stork-input-border-radius);
  background-color: var(--stork-background-color);
  color: var(--stork-input-text-color);
  font-family: var(--stork-font-family);
}

.stork-input:focus {
  outline: none;
}

.stork-progress {
  position: absolute;
  display: block;
  content: "";
  bottom: 1px;
  background-color: var(--stork-accent-color);
  box-shadow: 0 0 8px var(--stork-accent-color);
  height: 1px;
  transition: width 0.25s ease, opacity 0.4s ease 0.4s;
}

.stork-output {
  position: absolute;
  width: var(--stork-results-width);
  margin-top: 0.5em;
  border-radius: var(--stork-results-border-radius);
  display: flex;
  flex-direction: column;
  z-index: 100;
  color: var(--stork-results-title-color);
  font-weight: 400;
  font-family: var(--stork-font-family);
}

.stork-attribution a:link,
.stork-attribution a:visited {
  color: var(--stork-accent-color);
}

.stork-output-visible {
  border: 1px solid var(--stork-border-color);
  box-shadow: 0px 0.4px 2.2px
      rgba(0, 0, 0, calc(var(--stork-results-shadow) * 0.011)),
    0px 1px 5.3px rgba(0, 0, 0, calc(var(--stork-results-shadow) * 0.016)),
    0px 1.9px 10px rgba(0, 0, 0, calc(var(--stork-results-shadow) * 0.02)),
    0px 3.4px 17.9px rgba(0, 0, 0, calc(var(--stork-results-shadow) * 0.024)),
    0px 6.2px 33.4px rgba(0, 0, 0, calc(var(--stork-results-shadow) * 0.029)),
    0px 15px 80px rgba(0, 0, 0, calc(var(--stork-results-shadow) * 0.04));
  background: var(--stork-background-color);
}

.stork-message {
  width: 100%;
  padding: 0.5em 1em;
  color: var(--stork-results-title-color);
}

.stork-attribution {
  width: 100%;
  padding: 0.5em 1em;
  font-size: 0.8em;
  color: var(--stork-results-title-color);
}

.stork-results {
  margin: 0;
  padding: 0;
  width: 100%;
  list-style-type: none;
  max-height: 25em;
  overflow-y: scroll;
  border-top: 1px solid var(--stork-border-color);
  border-bottom: 1px solid var(--stork-border-color);
  /* prettier-ignore */
  box-shadow: inset 0em 0.7em 0.2em -0.5em hsla(0, 0%, 0%, calc(var(--stork-results-shadow) * 0.08))
    inset 0em -0.7em 0.2em -0.5em hsla(0, 0%, 0%, calc(var(--stork-results-shadow) * 0.08));
}

.stork-result:not(:last-child) {
  border-bottom: 1px solid var(--stork-results-border-color);
}

.stork-result.selected {
  background: var(--stork-results-hover-color);
}

.stork-result a:link {
  padding: 1em;
  display: block;
  color: currentcolor;
  text-decoration: none;
}

.stork-result p {
  margin: 0;
}

.stork-title {
  font-weight: bold;
  font-size: 0.95em;
  margin: 0 0 0.75em 0;
  color: var(--stork-results-title-color);

  /* Flexbox container for the title and the score, when debugging */
  display: flex;
  justify-content: space-between;
}

.stork-excerpt {
  font-size: 0.8em;
  line-height: 1;
  margin: 0;
  color: var(--stork-results-excerpt-color);

  /* Flexbox container for the title and the score, when debugging */
  display: flex;
  justify-content: space-between;
}

.stork-excerpt:not(:last-of-type) {
  margin-bottom: 0.6em;
}

.stork-highlight {
  background-color: var(--stork-results-highlight-color);
  padding: 0 0.1em;
}

.stork-error {
  outline: 2px solid #c92a2a;
}

.stork-close-button {
  position: absolute;
  /* bottom: 0; */
  right: 0;
  margin: 0.7em 0.6em;
  height: 1.2em;
  width: 1.2em;
  padding: 0px;
  background: linear-gradient(
    to bottom,
    hsl(0, 0%, 85%) 0%,
    hsl(0, 0%, 83%) 100%
  );
  border: 1px solid hsla(0, 0%, 50%, 0.3);
  font-size: 1em;
  color: hsl(0, 0%, 50%);
  border-radius: 15%;
  line-height: 1;
}

.stork-close-button svg {
  width: 0.8em;
  position: relative;
  top: 1px;
}

.stork-close-button:hover {
  background: hsla(0, 0%, 78%);
  cursor: pointer;
}

.stork-close-button:active {
  background: hsla(0, 0%, 65%);
}
