:root {
  --stork-border-color: hsl(0, 0%, 65%);
  --stork-background-color: hsla(0, 0%, 97%, 1);
  --stork-font-family: inherit;
  --stork-size-multiplier: 1;
  --stork-accent-color: hsl(210, 72%, 45%);

  --stork-input-width: 100%;
  --stork-input-border-radius: 8px;
  --stork-input-text-color: black;
  --stork-input-shadow: 1;

  --stork-results-width: 100%;
  --stork-results-border-radius: 4px;
  --stork-results-shadow: 1;
  --stork-results-hover-color: hsl(210, 65%, 75%);
  --stork-results-title-color: black;
  --stork-results-excerpt-color: black;
  --stork-results-highlight-color: rgb(245, 230, 26);
  --stork-results-border-color: var(--stork-border-color);
}

.stork-wrapper {
  position: relative;
  font-family: var(--stork-font-family);
  box-sizing: border-box;
  font-size: 1em * var(--stork-size-multiplier);
}

.stork-wrapper *,
.stork-wrapper *:before,
.stork-wrapper *:after {
  box-sizing: border-box;
}

.stork-input {
  width: var(--stork-input-width);
  height: 2.4em;
  font-size: 1em;
  padding: 0.4em 0.8em;
  position: relative;
  box-shadow: inset 0 0.1em 0.3em
    hsla(0, 0%, 0%, calc(var(--stork-input-shadow) * 0.25));
  border: 1px solid var(--stork-border-color);
  border-radius: var(--stork-input-border-radius);
  background-color: var(--stork-background-color);
  color: var(--stork-input-text-color);
  font-family: var(--stork-font-family);
}

.stork-input:focus {
  outline: none;
}

.stork-progress {
  position: absolute;
  display: block;
  content: "";
  transition: width 0.25s ease, opacity 0.4s ease 0.4s;
  box-shadow: none;
  background: linear-gradient(#8bb7daff, #a3cff6ff, #a8d0f5ff, #a8d0f5ff, #a3cff6ff, #98ccf6ff, #8cc9f8ff, #82c6f8ff, #77c4f8ff, #77c4f8ff, #81c5f8ff, #88c7f8ff, #93c9f7ff, #9ccdf6ff, #a3d0f5ff, #a8d1f5ff, #add3f4ff, #add3f4ff, #a9d1f5ff, #a8d1f5ff);
  border-radius: calc(var(--stork-input-border-radius) + 2px);
  border: 1px solid #0000;
  height: 100%;
  bottom: 0;
  mix-blend-mode: multiply;
  pointer-events: none;
  background-repeat: no-repeat;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-right-width: calc(var(--stork-input-border-radius) + 0.5rem);
}

.stork-wrapper-dark .stork-progress {
  mix-blend-mode: hard-light;
  filter: brightness(0.75);
}

.stork-output {
  position: absolute;
  width: var(--stork-results-width);
  margin-top: 0.5em;
  border-radius: var(--stork-results-border-radius);
  display: flex;
  flex-direction: column;
  z-index: 100;
  color: var(--stork-results-title-color);
  font-weight: 400;
  font-family: var(--stork-font-family);
}

.stork-attribution a:link,
.stork-attribution a:visited {
  color: var(--stork-accent-color);
}

.stork-output-visible {
  border: 1px solid var(--stork-border-color);
  box-shadow: 0px 0px 2.2px
      rgba(0, 0, 0, calc(var(--stork-results-shadow) * 0.02)),
    0px 0px 5.3px rgba(0, 0, 0, calc(var(--stork-results-shadow) * 0.028)),
    0px 0px 10px rgba(0, 0, 0, calc(var(--stork-results-shadow) * 0.035)),
    0px 0px 17.9px rgba(0, 0, 0, calc(var(--stork-results-shadow) * 0.042)),
    0px 0px 33.4px rgba(0, 0, 0, calc(var(--stork-results-shadow) * 0.05)),
    0px 0px 80px rgba(0, 0, 0, calc(var(--stork-results-shadow) * 0.07));
  background: var(--stork-background-color);
}

.stork-message {
  width: 100%;
  padding: 0.5em 1em;
  color: var(--stork-results-title-color);
}

.stork-attribution {
  width: 100%;
  padding: 0.5em 1em;
  font-size: 0.8em;
  color: var(--stork-results-title-color);
}

.stork-results {
  margin: 0;
  padding: 0.25em 0;
  width: 100%;
  list-style-type: none;
  max-height: 25em;
  overflow-y: scroll;
  border-top: 1px solid var(--stork-border-color);
  border-bottom: 1px solid var(--stork-border-color);
  box-shadow: inset 0em 0.7em 0.7em -0.7em hsla(0, 0%, 0%, calc(var(
              --stork-results-shadow
            ) * 0.34)),
    inset 0em -0.7em 0.7em -0.7em
      hsl(0, 0%, 0%, calc(var(--stork-results-shadow) * 0.34));
}

.stork-result:not(:last-child) {
  border-bottom: 1px solid var(--stork-results-border-color);
}

.stork-result.selected {
  background: var(--stork-results-hover-color);
}

.stork-result a:link {
  padding: 1em;
  display: block;
  color: currentcolor;
  text-decoration: none;
}

.stork-result p {
  margin: 0;
}

.stork-title {
  font-weight: bold;
  font-size: 0.95em;
  margin: 0 0 0.75em 0;
  color: var(--stork-results-title-color);

  /* Flexbox container for the title and the score, when debugging */
  display: flex;
  justify-content: space-between;
}

.stork-excerpt {
  font-size: 0.8em;
  line-height: 1;
  margin: 0;
  color: var(--stork-results-excerpt-color);

  /* Flexbox container for the title and the score, when debugging */
  display: flex;
  justify-content: space-between;
}

.stork-excerpt:not(:last-of-type) {
  margin-bottom: 0.6em;
}

.stork-highlight {
  background-color: var(--stork-results-highlight-color);
  padding: 0 0.1em;
}

.stork-error {
  outline: 2px solid hsl(0, 89%, 46%);
}

.stork-close-button {
  position: absolute;
  z-index: 1;
  bottom: 0;
  right: 0;
  margin: 0.3em 0.4em;
  height: 1.5em;
  width: 1.5em;
  padding: 0px;
  background: linear-gradient(
    to bottom,
    hsl(0, 0%, 85%) 0%,
    hsl(0, 0%, 75%) 100%
  );
  border: 1px solid hsla(0, 0%, 50%, 0.8);
  font-size: 1.1em;
  color: hsl(0, 0%, 45%);
  border-radius: 15%;
  line-height: 1;
}

.stork-close-button svg {
  width: 0.8em;
  position: relative;
  top: 1px;
}

.stork-close-button:hover {
  background: hsla(0, 0%, 70%);
  cursor: pointer;
}

.stork-close-button:active {
  background: hsla(0, 0%, 65%);
}
