@import url(https://files.stork-search.net/basic.css);

body:not(.stork-multitheme),
.stork-wrapper-dark {
  --stork-border-color: #495057;
  --stork-background-color: #343a40;
  --stork-accent-color: #be4bdb;

  --stork-input-text-color: #f1f3f5;

  --stork-results-hover-color: #862e9c;
  --stork-results-title-color: #f8f9fa;
  --stork-results-excerpt-color: #dee2e6;
  --stork-results-highlight-color: #a9e34b;
  --stork-results-border-color: #495057;
}

body:not(.stork-multitheme) .stork-close-button,
.stork-wrapper-dark .stork-close-button {
  background: linear-gradient(
    to bottom,
    hsl(0, 0%, 60%) 0%,
    hsl(0, 0%, 55%) 100%
  );
  border: 1px solid hsla(0, 0%, 50%, 0.8);
  color: hsl(0, 0%, 25%);
}

body:not(.stork-multitheme) .stork-close-button:hover,
.stork-wrapper-dark .stork-close-button:hover {
  background: hsla(0, 0%, 50%);
  cursor: pointer;
}

body:not(.stork-multitheme) .stork-close-button:active,
.stork-wrapper-dark .stork-close-button:active {
  background: hsla(0, 0%, 40%);
}
