.stork-wrapper {
  position: relative;
  font-family: sans-serif;
  box-sizing: border-box;
}

.stork-wrapper *,
.stork-wrapper *:before,
.stork-wrapper *:after {
  box-sizing: border-box;
}

.stork-input {
  width: 100%;
  font-size: 1em;
  padding: 0.2em 0.4em;
  margin-bottom: 0.5em;
}

.stork-output {
  position: absolute;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.01);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  background: white;
}

.stork-message {
  width: 100%;
  padding: 0.5em 1em;
  color: rgba(0, 0, 0, 0.8);
  border-bottom: 1px solid hsla(0, 0%, 80%, 1);
}

.stork-results {
  margin: 0;
  padding: 0;
  width: 100%;
  list-style-type: none;
  max-height: 33vh;
  overflow-y: scroll;
}

.stork-result {
  padding: 1em;
  border-bottom: 1px solid hsla(0, 0%, 90%, 1);
}

.stork-result:hover {
  background: rgb(151, 226, 245);
}

.stork-result a {
  color: currentcolor;
  text-decoration: none;
}

.stork-result p {
  margin: 0;
}

.stork-title {
  font-weight: bold;
  font-size: 1.3em;
  margin-bottom: 0.5em;
}

.stork-excerpt:before,
.stork-excerpt:after {
  content: "...";
}

.stork-excerpt span {
  background-color: yellow;
}
