body {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

body.iframe {
  margin: 0;
  padding: 0;
  overflow-y: hidden;
}

iframe {
  width: 100%;
  border: none;
  height: 7em;
}

.title {
  font-weight: bold;
}

.stack-x {
  display: flex;
  gap: 1em;
  margin-bottom: 1em;
}

.stack-y {
  display: flex;
  gap: 0.5em;
  flex-direction: column;
  margin-bottom: 1em;
}

button {
  background: linear-gradient(to bottom, #ffffff, #e6e6e6);
  border-bottom-color: #a2a2a2;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  border-radius: 4px;
  border: 1px solid #bbbbbb;
  box-shadow: inset 0 1px 0 rgb(255 255 255 / 20%), 0 1px 2px rgb(0 0 0 / 5%);
  color: #333333;
  cursor: pointer;
  display: inline-block;
  font-family: inherit;
  margin: 0;
  padding: 4px 12px;
  text-align: center;
  text-decoration: none;
  user-select: none;
  vertical-align: middle;
}

button:hover,
button:active {
  background: linear-gradient(to bottom, #ffffff, #dadada);
}

button:active {
  background-color: #cccccc;
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
}

.stork-logo {
  float: right;
  height: 6em;
}
