body {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

body.iframe {
  margin: 0;
  padding: 0;
}

.title {
  margin-top: 0;
  font-weight: bold;
}
